on: [pull_request, workflow_dispatch]
  
jobs:
  build_frontend_release:
    runs-on: ubuntu-latest
    environment: production
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install
        working-directory: ./frontend

      - name: Build React app
        run: npm run build
        working-directory: ./frontend

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v3
        with:
          name: frontend-artifact
          path: ./frontend/dist

  build_backend_release:
    runs-on: ubuntu-latest
    environment: production
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Build .NET app
      run: dotnet publish -c Release -o ./publish
      working-directory: ./backend

    - name: Upload backend artifact
      uses: actions/upload-artifact@v3
      with:
        name: backend-artifact
        path: ./backend/publish